@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

body {
    display: grid;
    grid-template-columns: 8vw 85vw;
    background-color: black;
}

body,
header,
.navbar,
ul,
p {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    height: 98vh;
    margin: 1vh 1vw;
    background-color: whitesmoke;
    box-shadow: 2vh 1vh 3vh rgb(54, 54, 54);
}

.nav-items li {
    list-style: none;
}

li:nth-child(1) img {
    border-radius: 25% 40%;
    margin-top: 5vh;
    margin-bottom: 12vh;
}

.nav-img {
    aspect-ratio: 1/1;
    width: 3vw;
    margin: 3vh 0;
    transition: width 200ms ease-in;
}

.nav-img:hover {
    width: 4vw;
}

.intro {
    margin-left: 2vw;
}

.intro-bgtext,
.sign {
    font-family: 'La Belle Aurore', cursive;
    color: #515152;
    font-size: 2vh;
    font-style: italic;
}

.t1 {
    margin-left: 1vw;
}

.t2 {
    margin-left: 2vw;
}

.intro-heading {
    font-family: 'Noto Sans Mono', monospace;
    font-size: 14vh;
    line-height: 16vh;
    color: whitesmoke;
}

.intro-para {
    color: #b3acac;
    font-size: 2vh;
    letter-spacing: 0.1vw;
    font-family: 'Mukta', sans-serif;
}

.intro-r {
    color: deeppink;
    text-shadow: -1vh 0 0 cornflowerblue;
}

@media only screen and (max-width: 800px) {
    body {
        grid-template-columns: 100vw;
    }

    .box {
        grid-row: 2/2;
    }

    .navbar {
        height: 7vh;
        box-shadow: 0vw 2vh 1vh rgb(54, 54, 54);
    }

    .nav-items {
        display: flex;
        justify-content: center;
        gap: 10vw;
    }

    .nav-img {
        width: 4vw;
        margin: 2vh 0;
        transition: width 200ms ease-in;
    }

    li:nth-child(1) img {
        margin: 2vh 35vw 0 0;
    }
.nav-img:hover{
width: 6vw;
}
}